In [20]:
from datetime import datetime
import numpy as np
import pandas as pd

In [21]:
filepath = r"C:\Projects\jinan_dashboard\dirty_csv_data\new_bus_arrival_18051.csv"
df = pd.read_csv(filepath)

In [22]:
df

,_id,date_time,date,time,bus_number,operator,first_next_bus_estimated_arrival,first_next_bus_load,first_next_bus_feature,first_next_bus_the_type,...,first_bus_longitude,second_next_bus_estimated_arrival,second_next_bus_load,second_next_bus_feature,second_next_bus_the_type,second_next_bus_origin_code,second_next_bus_destination_code,second_next_bus_visit_number,second_bus_latitude,second_bus_longitude
0,5fe45a1f3dd9f6edcf509f0f,"2020,12,24,17,06,39,404396",2020-12-24,17:06:39.404396,91,SBST,"2020,12,24,17,15,56,000000",SEA,WAB,SD,...,0.000000,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
1,5fe4573f3dd9f6edcf509e43,"2020,12,24,16,54,23,806214",2020-12-24,16:54:23.806214,91,SBST,"2020,12,24,17,00,01,000000",SEA,WAB,SD,...,103.793839,"2020,12,24,17,15,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
2,5fe45b8b3dd9f6edcf509f82,"2020,12,24,17,12,43,375828",2020-12-24,17:12:43.375828,91,SBST,"2020,12,24,17,14,44,000000",SEA,WAB,SD,...,103.792268,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
3,5fe458ef3dd9f6edcf509eb0,"2020,12,24,17,01,35,422078",2020-12-24,17:01:35.422078,91,SBST,"2020,12,24,17,00,10,000000",SEA,WAB,SD,...,103.786186,"2020,12,24,17,15,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
4,5fe45c043dd9f6edcf509faa,"2020,12,24,17,14,44,805608",2020-12-24,17:14:44.805608,91,SBST,"2020,12,24,17,16,21,000000",SEA,WAB,SD,...,103.788657,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19961,600fd2202207d59299f2220e,"2021,01,26,16,26,08,107987",2021-01-26,16:26:08.108074,91,SBST,"2021,01,26,16,29,10,000000",SEA,WAB,SD,...,103.792150,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19962,600fd25d2207d59299f22222,"2021,01,26,16,27,09,044266",2021-01-26,16:27:09.044363,91,SBST,"2021,01,26,16,28,59,000000",SEA,WAB,SD,...,103.790737,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19963,600fd2992207d59299f22236,"2021,01,26,16,28,09,991297",2021-01-26,16:28:09.991385,91,SBST,"2021,01,26,16,28,39,000000",SEA,WAB,SD,...,103.787819,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19964,600fd2d72207d59299f2224a,"2021,01,26,16,29,11,071187",2021-01-26,16:29:11.071281,91,SBST,"2021,01,26,16,29,06,000000",SEA,WAB,SD,...,103.787136,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19965,600fd3142207d59299f2225e,"2021,01,26,16,30,12,079568",2021-01-26,16:30:12.079653,91,SBST,"2021,01,26,16,28,58,000000",SEA,WAB,SD,...,103.786218,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0

In [23]:
df["date_time"]

0        2020,12,24,17,06,39,404396
1        2020,12,24,16,54,23,806214
2        2020,12,24,17,12,43,375828
3        2020,12,24,17,01,35,422078
4        2020,12,24,17,14,44,805608
                    ...
19961    2021,01,26,16,26,08,107987
19962    2021,01,26,16,27,09,044266
19963    2021,01,26,16,28,09,991297
19964    2021,01,26,16,29,11,071187
19965    2021,01,26,16,30,12,079568
Name: date_time, Length: 19966, dtype: object

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19966 entries, 0 to 19965
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   _id                                19966 non-null  object
 1   date_time                          19966 non-null  object
 2   date                               19966 non-null  object
 3   time                               19966 non-null  object
 4   bus_number                         19966 non-null  int64
 5   operator                           19966 non-null  object
 6   first_next_bus_estimated_arrival   19966 non-null  object
 7   first_next_bus_load                19966 non-null  object
 8   first_next_bus_feature             19966 non-null  object
 9   first_next_bus_the_type            19966 non-null  object
 10  first_next_bus_origin_code         19966 non-null  int64
 11  first_next_bus_destination_code    19966 non-null  int64
 12  first_next_bus_visit_number        19966 non-null  int64
 13  first_bus_latitude                 19966 non-null  float64
 14  first_bus_longitude                19966 non-null  float64
 15  second_next_bus_estimated_arrival  19233 non-null  object
 16  second_next_bus_load               19233 non-null  object
 17  second_next_bus_feature            19233 non-null  object
 18  second_next_bus_the_type           19233 non-null  object
 19  second_next_bus_origin_code        19233 non-null  float64
 20  second_next_bus_destination_code   19233 non-null  float64
 21  second_next_bus_visit_number       19233 non-null  float64
 22  second_bus_latitude                19233 non-null  float64
 23  second_bus_longitude               19233 non-null  float64
dtypes: float64(7), int64(4), object(13)
memory usage: 3.7+ MB

In [25]:
def change_to_date(row):
    row["date_time"] = datetime.strptime(str(row["date_time"][0:-7]), "%Y,%m,%d,%H,%M,%S")
    row["first_next_bus_estimated_arrival"] = datetime.strptime(str(row["first_next_bus_estimated_arrival"][0:-7]), "%Y,%m,%d,%H,%M,%S")
    return row

In [26]:
df = df.apply(change_to_date, axis="columns")

In [27]:
df

,_id,date_time,date,time,bus_number,operator,first_next_bus_estimated_arrival,first_next_bus_load,first_next_bus_feature,first_next_bus_the_type,...,first_bus_longitude,second_next_bus_estimated_arrival,second_next_bus_load,second_next_bus_feature,second_next_bus_the_type,second_next_bus_origin_code,second_next_bus_destination_code,second_next_bus_visit_number,second_bus_latitude,second_bus_longitude
0,5fe45a1f3dd9f6edcf509f0f,2020-12-24 17:06:39,2020-12-24,17:06:39.404396,91,SBST,2020-12-24 17:15:56,SEA,WAB,SD,...,0.000000,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
1,5fe4573f3dd9f6edcf509e43,2020-12-24 16:54:23,2020-12-24,16:54:23.806214,91,SBST,2020-12-24 17:00:01,SEA,WAB,SD,...,103.793839,"2020,12,24,17,15,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
2,5fe45b8b3dd9f6edcf509f82,2020-12-24 17:12:43,2020-12-24,17:12:43.375828,91,SBST,2020-12-24 17:14:44,SEA,WAB,SD,...,103.792268,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
3,5fe458ef3dd9f6edcf509eb0,2020-12-24 17:01:35,2020-12-24,17:01:35.422078,91,SBST,2020-12-24 17:00:10,SEA,WAB,SD,...,103.786186,"2020,12,24,17,15,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
4,5fe45c043dd9f6edcf509faa,2020-12-24 17:14:44,2020-12-24,17:14:44.805608,91,SBST,2020-12-24 17:16:21,SEA,WAB,SD,...,103.788657,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19961,600fd2202207d59299f2220e,2021-01-26 16:26:08,2021-01-26,16:26:08.108074,91,SBST,2021-01-26 16:29:10,SEA,WAB,SD,...,103.792150,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19962,600fd25d2207d59299f22222,2021-01-26 16:27:09,2021-01-26,16:27:09.044363,91,SBST,2021-01-26 16:28:59,SEA,WAB,SD,...,103.790737,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19963,600fd2992207d59299f22236,2021-01-26 16:28:09,2021-01-26,16:28:09.991385,91,SBST,2021-01-26 16:28:39,SEA,WAB,SD,...,103.787819,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19964,600fd2d72207d59299f2224a,2021-01-26 16:29:11,2021-01-26,16:29:11.071281,91,SBST,2021-01-26 16:29:06,SEA,WAB,SD,...,103.787136,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19965,600fd3142207d59299f2225e,2021-01-26 16:30:12,2021-01-26,16:30:12.079653,91,SBST,2021-01-26 16:28:58,SEA,WAB,SD,...,103.786218,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19966 entries, 0 to 19965
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   _id                                19966 non-null  object
 1   date_time                          19966 non-null  datetime64[ns]
 2   date                               19966 non-null  object
 3   time                               19966 non-null  object
 4   bus_number                         19966 non-null  int64
 5   operator                           19966 non-null  object
 6   first_next_bus_estimated_arrival   19966 non-null  datetime64[ns]
 7   first_next_bus_load                19966 non-null  object
 8   first_next_bus_feature             19966 non-null  object
 9   first_next_bus_the_type            19966 non-null  object
 10  first_next_bus_origin_code         19966 non-null  int64
 11  first_next_bus_destination_code    19966 non-null  int64
 12  first_next_bus_visit_number        19966 non-null  int64
 13  first_bus_latitude                 19966 non-null  float64
 14  first_bus_longitude                19966 non-null  float64
 15  second_next_bus_estimated_arrival  19233 non-null  object
 16  second_next_bus_load               19233 non-null  object
 17  second_next_bus_feature            19233 non-null  object
 18  second_next_bus_the_type           19233 non-null  object
 19  second_next_bus_origin_code        19233 non-null  float64
 20  second_next_bus_destination_code   19233 non-null  float64
 21  second_next_bus_visit_number       19233 non-null  float64
 22  second_bus_latitude                19233 non-null  float64
 23  second_bus_longitude               19233 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(4), object(11)
memory usage: 3.7+ MB

In [29]:
df["date_time"].iloc[0] > df["first_next_bus_estimated_arrival"].iloc[0]

False

In [42]:
timedelta = df["date_time"].iloc[3] - df["first_next_bus_estimated_arrival"].iloc[3]
timedelta.total_seconds()//60

1.0

In [51]:
t = df["date_time"] - df["first_next_bus_estimated_arrival"]
t.dt.total_seconds()

0       -557.0
1       -338.0
2       -121.0
3         85.0
4        -97.0
         ...
19961   -182.0
19962   -110.0
19963    -30.0
19964      5.0
19965     74.0
Length: 19966, dtype: float64

In [52]:
def check_late():
    df["late"] = np.where(df["date_time"] > df["first_next_bus_estimated_arrival"], True, False)
    df["late_by"] = np.where(df["late"]==True, (df["date_time"] - df["first_next_bus_estimated_arrival"]).dt.total_seconds(), np.NaN)

In [53]:
check_late()

In [54]:
df

,_id,date_time,date,time,bus_number,operator,first_next_bus_estimated_arrival,first_next_bus_load,first_next_bus_feature,first_next_bus_the_type,...,second_next_bus_load,second_next_bus_feature,second_next_bus_the_type,second_next_bus_origin_code,second_next_bus_destination_code,second_next_bus_visit_number,second_bus_latitude,second_bus_longitude,late,late_by
0,5fe45a1f3dd9f6edcf509f0f,2020-12-24 17:06:39,2020-12-24,17:06:39.404396,91,SBST,2020-12-24 17:15:56,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
1,5fe4573f3dd9f6edcf509e43,2020-12-24 16:54:23,2020-12-24,16:54:23.806214,91,SBST,2020-12-24 17:00:01,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
2,5fe45b8b3dd9f6edcf509f82,2020-12-24 17:12:43,2020-12-24,17:12:43.375828,91,SBST,2020-12-24 17:14:44,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
3,5fe458ef3dd9f6edcf509eb0,2020-12-24 17:01:35,2020-12-24,17:01:35.422078,91,SBST,2020-12-24 17:00:10,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,True,85.0
4,5fe45c043dd9f6edcf509faa,2020-12-24 17:14:44,2020-12-24,17:14:44.805608,91,SBST,2020-12-24 17:16:21,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19961,600fd2202207d59299f2220e,2021-01-26 16:26:08,2021-01-26,16:26:08.108074,91,SBST,2021-01-26 16:29:10,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
19962,600fd25d2207d59299f22222,2021-01-26 16:27:09,2021-01-26,16:27:09.044363,91,SBST,2021-01-26 16:28:59,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
19963,600fd2992207d59299f22236,2021-01-26 16:28:09,2021-01-26,16:28:09.991385,91,SBST,2021-01-26 16:28:39,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
19964,600fd2d72207d59299f2224a,2021-01-26 16:29:11,2021-01-26,16:29:11.071281,91,SBST,2021-01-26 16:29:06,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,True,5.0
19965,600fd3142207d59299f2225e,2021-01-26 16:30:12,2021-01-26,16:30:12.079653,91,SBST,2021-01-26 16:28:58,SEA,WAB,SD,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,True,74.0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19966 entries, 0 to 19965
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   _id                                19966 non-null  object
 1   date_time                          19966 non-null  datetime64[ns]
 2   date                               19966 non-null  object
 3   time                               19966 non-null  object
 4   bus_number                         19966 non-null  int64
 5   operator                           19966 non-null  object
 6   first_next_bus_estimated_arrival   19966 non-null  datetime64[ns]
 7   first_next_bus_load                19966 non-null  object
 8   first_next_bus_feature             19966 non-null  object
 9   first_next_bus_the_type            19966 non-null  object
 10  first_next_bus_origin_code         19966 non-null  int64
 11  first_next_bus_destination_code    19966 non-null  int64
 12  first_next_bus_visit_number        19966 non-null  int64
 13  first_bus_latitude                 19966 non-null  float64
 14  first_bus_longitude                19966 non-null  float64
 15  second_next_bus_estimated_arrival  19233 non-null  object
 16  second_next_bus_load               19233 non-null  object
 17  second_next_bus_feature            19233 non-null  object
 18  second_next_bus_the_type           19233 non-null  object
 19  second_next_bus_origin_code        19233 non-null  float64
 20  second_next_bus_destination_code   19233 non-null  float64
 21  second_next_bus_visit_number       19233 non-null  float64
 22  second_bus_latitude                19233 non-null  float64
 23  second_bus_longitude               19233 non-null  float64
 24  late                               19966 non-null  bool
 25  late_by                            1913 non-null   float64
dtypes: bool(1), datetime64[ns](2), float64(8), int64(4), object(11)
memory usage: 3.8+ MB

In [41]:
test = "1,2,3,4,5,123456"
test[0:-7]

'1,2,3,4,5'

In [19]:
a = np.timedelta64(1620000000000,'ns')
a.astype('timedelta64[m]')

numpy.timedelta64(27,'m')